.tab-container {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tab:hover {
    background-color: #ddd;
  }
  
  .content-container {
    padding: 10px;
  }
  
  .content {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }